<% if tag_name = params[:attachment_tag_name] %>
  <script type="module">
    import * as Lexxy from "lexxy"
    Lexxy.configure({ global: { attachmentTagName: "<%= tag_name %>" }})
  </script>
<% end %>

<%= form_with model: post, data: { controller: "events-logger file-acceptance unfurl-link",
  file_acceptance_type_value: params[:attachment_type],
  action: "lexxy:focus->events-logger#log lexxy:blur->events-logger#log lexxy:change->events-logger#log lexxy:insert-link->events-logger#log lexxy:insert-link->unfurl-link#unfurl lexxy:file-accept->file-acceptance#acceptFile" } do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <% if params[:toolbar_external] %>
      <lexxy-toolbar id="external_toolbar">
        <button class="lexxy-editor__toolbar-button" type="button" name="bold" data-command="bold" title="Bold">bold</button>
        <details class="lexxy-editor__toolbar-overflow">
          <summary class="lexxy-editor__toolbar-button" aria-label="Show more toolbar buttons">•••</summary>
          <div class="lexxy-editor__toolbar-overflow-menu" aria-label="More toolbar buttons"></div>
        </details>
      </lexxy-toolbar>
    <% end %>

    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body, placeholder: "Write something...",
          attachments: (params[:attachments_disabled] != "true"),
          markdown: params[:markdown_disabled] ? "false" : nil,
          "single-line": params[:multi_line_disabled] ? "true" : nil,
          "rich-text": params[:rich_text_disabled] ? "false" : nil,
          toolbar: params[:toolbar_disabled] ? "false" : (params[:toolbar_external] ? "external_toolbar" : nil),
          required: true do %>
      <lexxy-prompt trigger="1" empty-results="No results"  name="mention">
        <%= render partial: "people/prompt_item", collection: Person.all, as: :person %>
      </lexxy-prompt>

      <lexxy-prompt trigger="2" src="<%= people_path %>" name="mention">
      </lexxy-prompt>

      <lexxy-prompt trigger="3" src="<%= people_path %>" name="mention" remote-filtering insert-editable-text supports-space-in-searches>
      </lexxy-prompt>
    <% end %>

    <% if params[:refresh].present? %>
      <%= hidden_field_tag :refresh, params[:refresh] %>
    <% end %>
  </div>

  <div>
    <button type="reset">Reset</button>
    <%= form.submit %>
  </div>

  <div id="events" data-events-logger-target="log">
  </div>
<% end %>
