<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div id="<%= dom_id post %>">
      <p>
        <strong>Title:</strong>
        <%= post.title %>
      </p>

      <div data-controller="code-highlight math-content">
        <strong>Body:</strong>
        <%= post.body %>
      </div>

      <p>
        <%= link_to post.title, post %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
