<h1>Secrets</h1>

<div id="secrets">
  <% @secrets.each do |secret| %>
    <div id="<%= dom_id secret %>">
      <p>
        <strong>Title:</strong>
        <%= secret.title %>
      </p>

      <p>
        <strong>Body:</strong>
        <%= secret.body %>
      </p>

      <p>
        <%= link_to secret.title, secret %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New secret", new_secret_path %>
